@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #A3B279;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #A17945;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    font-size: 35px;
    color: #A17945;
    font-family: Arial;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #F1D96B;
}